body {
    background-color: #DBE8FF;
}

div.menu {
    background-color: maroon;
}

div.menu a {
    display: inline-block;
    color: white;
    padding: 30px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
}

div.menu a:hover {
    background-color: #ffb3b3;
}

img.profile {
    display: block;
    margin: auto;
}

h2 {
    position: relative;
}